body{
  background: #0c4444;
}
#tictactoe{
  margin-top: 20px;
}

table {

	border-collapse:collapse;
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
  border-style: hidden;
}

td {
  background-color: #fff0;
  border: 10px solid #fcfcfc;
  font-size: 80px;
  color: #ffd55e;
  border-radius: 10px 10px 10px 10px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#turn {
  color: #fbfbfb;
  font-size: 60px;
  background-color: #fbfbfb00;
}
